{% extends "./base.html.twig" %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto">
       

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">
             

                <p class="text-sm text-gray-600">
                    28-01-2022 4 min. read
                </p>
            </div>
        </div>

        
       

        
            

            
        
    </div>
{% endblock %}